{% extends 'Task/template.html' %}

{% block contentView %}
{% load tz %}
{% localtime on %}

<div class="container-fluid">
    <center>
        <div class="row"> 
            <div class="col-md-4 align-self-center">
            </div>

            <div class="col-md-4 mt-5 align-self-center">
                <br>
                <div class="container">
                    <div class="jumbotron shadow-lg pop-on-hover">
                        <h2><b>Track</b></h2>
                        <hr>
                        
                        {% for event in events %}
                            <div class="card bg-transparent border-success mb-4">
                                <p class="font-weight-bold mt-2">Task Name: {{ event.task_name }}</p>
                                <p class="font-weight-bold">Event Type: {{ event.event_type }}</p>
                                <p class="font-weight-bold">Time of Event: {{ event.time_of_event }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>        
    </center>
</div>

{% endlocaltime %}
{% endblock %}