<!DOCTYPE html>

<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <title>Reset Password</title>
</head>

<body style="background-color: cadetblue;">
    <div class="container-fluid mt-5">
        <center>
            <div class="row"> 
                <div class="col-md-4 align-self-center">
                </div>

                <div class="col-md-4 align-self-center">
                    <h3>Enter new password</h3>

                    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

                    <br>
                    <div class="container">
                        <div class="jumbotron shadow-lg pop-on-hover">
                            <h2><b>Reset Password</b></h2>
                            <hr>
            
                            <form method="POST">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    {{ form }}
                                </fieldset>
                                <div class="form-group">
                                    <center>
                                        <input type="Submit" name="Update Password">
                                    </center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>        
        </center>
    </div>
</body>